.clock-container {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 10vh;
    align-items: center;
}

.clock {
    width: 20rem;
    height: 20rem;
    position: relative;
    padding: 2.3rem;
    border: 5px solid black; /*  border around clock #babdbe*/
    border-radius: 50%;
    margin: 50px auto;
    background-color: #ffefee;
}

.outer-clock-face {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

/* Positions thicker quaterday marking lines for 6 & 18 */
.outer-clock-face::after {
    transform: rotate(90deg);
}

/* Posistion and style of numbers, hour and quaterday indicators.*/
.outer-clock-face::after,
.outer-clock-face::before,
.outer-clock-face .marking {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: black; /* lines for hours #bdbdcb */
    z-index: 0;
    left: 49%;
}

/* Width of hour indicator lines */
.outer-clock-face .marking {
    width: 3px;
}

/* Styles and posistions for Numbers */
.marking > div {
    position: absolute;
    color: black; /* numbers color #bdbdcb; */
    width: 1rem;
    text-align: center;
    font-size: 1.1rem;
}

.marking > div.pm {
    top: -31px;
    left: -6px;
}

.marking > div.am {
    bottom: -31px;
    right: -6px;
}

/* .marking > div.pm {
    top: -27px;
    left: -12px;
}

.marking > div.am {
    bottom: -27px;
    right: -10px;
} */

/* Positions Numbers quaterday markings horizontal */
.outer-clock-face .marking.marking-horizontal {
    transform: rotate(90deg);
}

/* Rotates the numbers 6 and 8 so they are not sideways */
.marking-horizontal div {
    transform: rotate(-90deg);
}

/* Positions Numbers quaterday markings vertical */
.outer-clock-face .marking.marking-vertical {
    transform: rotate(180deg);
}

/* Rotates the numbers 12 and 24 so they are not up side down */
.marking-vertical div {
    transform: rotate(-180deg);
}

/* Making the numbers and hamburger icons look clickable */
.marking > * {
    cursor: pointer;
}

/* Positions each individual marking line and number for the right degree for each hour. One = 1 and 13 etc. Then targets the number div and spinns it so it is upright */
.outer-clock-face .marking.marking-one {
    transform: rotate(15deg);
}

.marking-one div {
    transform: rotate(-15deg);
}

.outer-clock-face .marking.marking-two {
    transform: rotate(30deg);
}

.marking-two > div {
    transform: rotate(-30deg);
}

.outer-clock-face .marking.marking-three {
    transform: rotate(45deg);
}

.marking-three > div {
    transform: rotate(-45deg);
}

.outer-clock-face .marking.marking-four {
    transform: rotate(60deg);
}

.marking-four > div {
    transform: rotate(-60deg);
}

.outer-clock-face .marking.marking-five {
    transform: rotate(75deg);
}

.marking-five > div {
    transform: rotate(-75deg);
}

.outer-clock-face .marking.marking-seven {
    transform: rotate(105deg);
}

.marking-seven > div {
    transform: rotate(-105deg);
}

.outer-clock-face .marking.marking-eight {
    transform: rotate(120deg);
}
.marking-eight > div {
    transform: rotate(-120deg);
}

.outer-clock-face .marking.marking-nine {
    transform: rotate(135deg);
}

.marking-nine > div {
    transform: rotate(-135deg);
}

.outer-clock-face .marking.marking-ten {
    transform: rotate(150deg);
}

.marking-ten > div {
    transform: rotate(-150deg);
}

.outer-clock-face .marking.marking-eleven {
    transform: rotate(165deg);
}

.marking-eleven > div {
    transform: rotate(-165deg);
}

/* The meals-disk.  */
.meals-disk {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    z-index: 1;
    border: 30px solid #ffefee;
}

/* The inner circle of the meals disk */
.meals-disk::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: #e81e62; /* center of center circle e81e62 */
    border: black solid 3px; /* border of center circle */
    z-index: 11;
}

/* Positions and styles the hand indicating the time of day. */
.time {
    right: 50%;
    height: 3px;
    width: 60%;
    z-index: 10;
    background: black;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
}

/* Preventing events to be triggered on path instead of SVG element */
.clockburger.MuiSvgIcon-root * {
    pointer-events: none;
}
